.bg-black{
    background-color: #000;
    color:#FFF;
    padding: 1em;
}

.brand img{
    width: 6em;
}

.glyphicon-menu-hamburger{
    font-size: 2em;
}
.hero-img{
    background: url(../images/home_bg.jpg) center center no-repeat;
    background-size:cover;
    height: 30em;
}

.hover-submenu-group{
    display:none;
}