body{
    font-family: 'Oxygen', sans-serif;
}

nav a, h1, h2, h3, h4, h5{
    font-family: 'Indie Flower', cursive !important;
}
#animateLine{
    position:relative;
}
.brand img{
    width: 6em;
}
.animateLine{
    position: absolute;
    left: 0;
    border-bottom: 1px dashed #999;
    width: 1em;
}
.nav-link:hover{
    color: #FFF !important;
}
.dropdown-item{
    color: #999 !important;
}
.dropdown-item:hover{
    background-color: transparent !important;
    color: #FFF !important;
}
.hero-img{
    background: url(../images/home_bg.jpg) center center no-repeat;
    background-size:cover;
    height: 30em;
}
.hero-img>div{
    height: 15em;
}
li ul{
    padding-left: 0;
}

/*footer*/
.footerlogo img{
    width: 5em;
}