
.brand img{
    width: 6em;
}
.nav-link:hover{
    color: #FFF !important;
}
.dropdown-item{
    color: #999 !important;
}
.dropdown-item:hover{
    background-color: transparent !important;
    color: #FFF !important;
}
.hero-img{
    background: url(../images/home_bg.jpg) center center no-repeat;
    background-size:cover;
    height: 30em;
}



/*footer*/
.footerlogo img{
    width: 5em;
}